[submodule "HrothCore/external/glfw"]
	path = HrothCore/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HrothCore/external/glm"]
	path = HrothCore/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "HrothCore/external/assimp"]
	path = HrothCore/external/assimp
	url = https://github.com/assimp/assimp.git
