[submodule "HrothCore/external/glfw"]
	path = HrothCore/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "HrothCore/external/glm"]
	path = HrothCore/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "HrothCore/external/assimp"]
	path = HrothCore/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "HrothCore/external/spdlog"]
	path = HrothCore/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "HrothCore/external/meshoptimizer"]
	path = HrothCore/external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "HrothCore/external/imgui"]
	path = HrothCore/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "HrothCore/external/uuid_v4"]
	path = HrothCore/external/uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
